* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title {

    min-height: 100vh;
    width: 100%;
    background-image: url(../images/header-background.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h1 {
    font-family: cursive, Helvetica, sans-serif;
    font-size: 3rem;
    color: #0B60B0;
    font-weight: 600;
}

.name {
    text-align: center;
}

.title h2 {
    color: #0B60B0;
    font-family: Helvetica, sans-serif;
}

.title h2 span {
    text-decoration: underline;
}





@media (max-width: 576px) {

}