*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(238, 238, 238);
}

.box {
    margin-top: 25px;
    margin-left: 540px;
    width: 720px;
    height: 850px;
    background-color:white;
    border-radius: 5px;
    box-shadow: 0px 0px 8px gray;
    padding: 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    border-bottom: 1px solid rgb(216, 216, 216);
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.profile .name {
    font-size: 1.2rem;
    font-weight: 800;
}

.profile .passion {
    font-size: 1rem;
    margin-bottom: 5px;
}

.icons {
    display: flex;
    align-items: center;
}

.media #github {
    margin-right: 15px;
    font-size: 1.8rem;
    color: rgb(16, 15, 15);
}

.media #linkedin {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.8rem;
    color: rgb(33, 1, 210);
}

.media #twitter {
    margin-left: 15px;
    font-size: 1.8rem;
    color: rgb(36, 108, 216);
}

/* dropdown */

.dropdown {
    margin-top: 19px;
    margin-left: 50px;
    margin-right: 50px;
}

.dropdown select {
    padding: 6px;
}

.hello {
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 19px;
    margin-left: 50px;
    margin-right: 50px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.top a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.BottomIcons {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    flex-direction: row;
    gap: 10px;
}

.BottomIcons p a {
    color: black;
    font-size: 1.5rem;
}

#border {
    border: 2px solid black;
}